body {
    margin: 0;
    min-height: 100vh;

    /* Fond dégradé sombre */
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    /* Centrage */
    display: flex;
    justify-content: space-between;
    /* Texte */
    color: #eaeaea;
    font-family: "Segoe UI", Tahoma, sans-serif;

    overflow-x: hidden;
}


#canvas {

    border-radius: 8px;

    box-shadow:
        0 0 15px rgba(255, 145, 77, 0.4),
        0 0 40px rgba(0, 0, 0, 0.8);
}


.player-dead {
    color: #e74c3c;
    opacity: 0.7;
}





