* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url(img/fond.png);
    background-size: cover; 
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    color: white;

}

.portal {
    padding: 20px;
    background-color: rgb(27, 71, 104);
    box-shadow: 0 0 20px rgb(255, 145, 0);
    border-radius: 5px;
    border: 5px solid rgb(255, 145, 0);
    width: 35%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
}

.portal .div1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    width: 360px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

h2 {
    margin-bottom: 20px;
}

.portal div label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.portal div input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 20px;
    font-size: 1rem;
}

.portal div button {
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 145, 0);
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.portal div button:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

.canvas-container {
    width: 360px;
    height: 300px;          
    overflow-y: auto;  
    margin-top: 2rem;
    padding: 5px 0;
    border: 3px solid rgb(255, 145, 0);
    background-color: #ea6c18a8;
    border-radius: 8px;
}


.canvas-container::-webkit-scrollbar {
    width: 2px;
}

.canvas-container::-webkit-scrollbar-thumb {
    background: rgb(27, 71, 104);
    border-radius: 5px;
}

.canvas-container::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 38, 65);
}




